.instructionsBox {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "Macondo", sans-serif;
  font-size: 14px;
  color:var(--black-gala);
  max-width: 90%;
  margin: 20px auto; 
  
}
.instructionsBox h2 {
  margin-bottom: 54px; 
  
}
.instructionsBox p {
 text-align: justify;
  margin-bottom: 10px; 
  font-family: "Macondo";
}

