
.instructions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    overflow: hidden;
    background:none;
    font-size: 12px;

}
.cardsButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 90%;
    margin: 20px auto;
}

.tarotImage {
    width: 80%;
    max-width: 300px;
}

@media (max-width: 600px) {
    .cardsButton {
        font-size: 12px;
    }

}

/* @media (min-width: 768px) {
    .nav {
      justify-content: center;
    }
  
    .navItem {
      font-size: 1em;
    }
  
    .navItem img {
      width: 30px;
      height: 30px;
    }
  } */