
.instructions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 47rem;
    overflow: hidden;
    background:none;
    font-size: 12px;

}
.cardsButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 90%;
    margin: 20px auto;
}

.tarotImage {
    width: 80%;
    max-width: 300px;
}

@media (min-width: 768px) {
    .instructions {
        height: 32rem;
    }
}