.headerStyle{
    color: white;
    background-color: black;
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    position: fixed;
    box-sizing: border-box;

}

header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}