.headerStyle{
  color: white; 
  width: 100%;
  padding: 1rem;
  display: flex;
  background-color: var(--black-gala);
  font-family: 'Macondo';
  align-items: center;
  justify-content: space-between; 
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 99;
}

.title{
  font-size: 1em;
  align-items: center;
}

.cardicon img {
  height: 40px; 
  margin-right: 10px; 
}

.cardicon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.Inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.Inicio img {
  padding-right: 4px;
  height: auto;
  width: 30px;
}

  @media (min-width: 768px) {
    .headerStyle {
      padding-top: 0%;
    }

    .header h1 {
      font-size: 2em;
    }
    
    .sakuraProductName{
      padding-top: 0%;
    }
  }
  