.headerStyle{
  color:white;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  background-color: var(--black-gala);
  font-family: 'Macondo';
  align-items: center;
  justify-content: space-between; 
 
}
 

.title{
  
  font-size: 1em;
  align-items: center;

}

.cardicon img {
  height: 30px; 
  margin-right: 10px; 

}


  @media screen and (min-width: 768px) {
    .header {
      padding: 1em 2em;
    }

    .header h1 {
      font-size: 2em;
    }
    
  }
  