.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 56rem;
    overflow: hidden;
}

.titleSection{
    height: 7rem;
}

.sakuraTitle {
    font-family: 'Macondo', sans-serif;
    font-size: 3rem;
}

.circleEffectStyle{
    position: absolute;
    left: 18%;
    top: 9rem;
    z-index: -1;
    height: 20rem;
}

.unicornImage {
    height: auto;
    width: 20rem;
    z-index: 10;
}

.imagesSection{
    height: 25rem;
}

@media (min-width: 768px) {
    .sakuraTitle{
        font-size: 2.6rem;
        padding-bottom: 1rem;
    }

    .unicornImage{
        width: 16rem;
        padding: 1rem;
    }

    .circleEffectStyle{
        left: 33.6rem;
        top: 2.5rem;
    }

    .mainSection{
    height: 34rem;
    padding: 4rem;
}
.circleEffectStyle{

}
}