.readingsContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    width: 100vw;
}

.readingsContainer h1 {
    align-items: center;
}

.readingsTitle {
    font-family: "Macondo", sans-serif;
    margin-bottom: 1rem;
    margin-top: 5rem;
    text-align: center;
}

.readingsList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.deleteButton {
    position: absolute;
    top: -24px;
    right: 0px;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    color: var(--black-gala);
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.deleteButton:hover {
    transform: scale(1.2);
}

@media (min-width: 768px) {
    .readingsTitle {
        font-family: "Macondo", sans-serif;
        margin-bottom: 1rem;
        margin-top: 6rem;
        text-align: center;
    }

    .readingsContainer {
        display: flex;
        flex-direction: column;
        padding: 4rem;
        padding-top: 1rem;
        height: 100vh;
        width: 100vw;
    }

    .readingsList {
        gap: 0rem;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        padding-left: 15%;
        padding-right: 15%;
    }
}
