@font-face {
    font-family: 'Macondo';
    src: url("../src/assets/fonts/MacondoSwashCaps-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Macondo Regular';
    src: url("../src/assets/fonts/Macondo-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    font-family: 'Macondo';

}

:root{
   --orange-gala: #FFA64E;
   --purple-gala: #A9688A;
   --beige-gala: #FBDFA0;
   --yellow-gala: #FACA4B;
   --red-gala: #BB3144;
   --darkPurple-gala: #8B6784;
   --black-gala: black;
    --white-gala: white;

    --gradient-bg: radial-gradient(
        ellipse 40% 120% at 50% 30%, 
        rgba(181, 148, 181, 0.5) 5%,
        rgba(200, 149, 200, 0.4) 20%,
        rgba(81, 54, 165, 0.3) 40%,
        rgba(61, 39, 128, 0.2) 70%,
        rgba(0, 0, 0, 0) 100%
        );

background: var(--gradient-bg);
min-height: 100vh;
}



