@font-face {
    font-family: 'Macondo';
    src: url("../src/assets/fonts/MacondoSwashCaps-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Macondo Regular';
    src: url("../src/assets/fonts/Macondo-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    background-image: url("../src/assets/images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Macondo';
    height: 100vh;
}

:root{
   --orange-gala: #FFA64E;
   --purple-gala: #A9688A;
   --beige-gala: #FBDFA0;
   --yellow-gala: #FACA4B;
   --red-gala: #BB3144;
   --darkPurple-gala: #8B6784;
   --black-gala: black;
}
