.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  height: auto; 
  position: relative;
}

.buttonStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--orange-gala);
  color: var(--black-gala);
  font-size: 18px;
  border: none;
  padding: 10px 15px;
  border-radius: 39px;
  cursor: pointer;
  font-family: "Macondo", sans-serif;
  height: 40px;
  transition: opacity 0.2s ease;
}

.buttonStyle:hover {
  opacity: 0.8;
}

.buttonStyle:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon {
  width: 18px;
  height: 18px;
}

.favoriteMessage {
  background-color: var(--orange-gala);
  color: var(--black-gala);
  font-family: "Macondo", sans-serif;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  max-width: 220px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .buttonsContainer {
    flex-direction: row;
    justify-content: center;
  }

  .favoriteMessage {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; 
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
}
